<?xml version="1.0"?>

<model>
  <name>Example Model For Color Tutorial</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Yelloooowww</name>
    <email>YOUR EMAIL HERE</email>
  </author>

  <description>
    My own thesis, saving it myself
  </description>

</model>
